:root{
    --color-text: #fff;;
}

*{
    font-family: Varella;
}

body{
    box-sizing: border-box;
    margin:0;
    background-color: #053472;
    color: var(--color-text)
}

header{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 50px;
}

/* HEADER */

.header-title{
    font-weight:bolder;
    font-size:30px;
}
.header-logo img {
    width: 20px;
    margin-left: 5px;
    height:auto;
    width:45px;
}

/* SECTION */

.container{
    display:flex;
    justify-content:center;
    background-color: #021e42;
    border-radius:10px;
    margin: 0px 30px;
}

/* LEFT-SIDE */

.left-side, .right-side{
    flex:1;
}

.left-side{
    display:flex;
    flex-direction:column;
}
.left-side-banner{
    margin-top:20px;
    text-align: center;
    font-size:6vw;
    font-family: 'Times New Roman';
}

.left-side-banner span {
    border-bottom: 3px solid #fff;
    padding-bottom:5px;
}

.left-side-description{
    text-align: center;
    margin: 30px 0px 0px 15px;
    font-size: 1.5vw;
    font-family: 'Times New Roman';
}

.left-side-description span{
    font-weight:900;
    text-decoration:underline;
}

.left-side-product{
    margin-top:40px;
    text-align:center;
}
.left-side-product img{
    width:90%;
    height:auto;
}

/* RIGHT-SIDE */ /* FORM */
.right-side-container{
    background-color:#053472;
    margin:20px;
}
.right-side-title-container{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.right-side-title{
    font-size: 3vw;
    padding-top:7px;
    font-weight:200;
}
.right-side-subtitle{
    text-align:center;
    margin-top: 10px;
    padding: 5px;
    border-bottom: 1px solid #fff;
    font-size: 17px;
}

/* FORMS */
.right-side-form-container{
    margin-top: 25px;
}

form:not(.checkbox){
    display:flex;
    flex-direction:column;
}

form label:not(.whatsapp), input {
    margin: 0px 20px;
}

.whatsapp{
    font-size: 1.5vw;
}
input{
    outline:none;
    border-radius:3px;
    border:0;
    height:25px;
    font-size:medium;
}

.checkbox{
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    margin-right: 5px;
}
.checkbox img{
    width: 20px;
    margin-left: 5px;
}

button{
    margin: 70px 20px;
    height: 70px;
    background-color: #b8855b;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 2vw;
    cursor:pointer;
}